@tailwind base;
@tailwind components;
@tailwind utilities;

#ficha > div >  h4 {
padding-top: .5em;
padding-bottom: .5em;
}
#ficha > div >  h4 > span {
    margin-left: .8em;
    font-weight: bold;
}
