@tailwind base;
@tailwind components;
@tailwind utilities;

#ficha > div >  h4 {
padding-top: .5em;
padding-bottom: .5em;
}
#ficha > div >  h4 > span {
    margin-left: .8em;
    font-weight: bold;
}
.show {
 animation: slide-down .5s ease-in-out;   
}

@keyframes slide-down {
  0%{
    transform: translateY(-25px)  scaleX(.05);
  }
}

 .spinner {
        border: 6px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        border-left-color: #09f;
        animation: spin 1s ease infinite;
      }
      
      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
      
        100% {
          transform: rotate(360deg);
        }
}